#nav1{
	background: #CCCCCC;
	border-bottom: 1px solid #999999;
}

#right-sidebar{
	min-height: 600px;
	background: #EEEEEE;
	padding: 10px;
}

#new-post-link{
	float: right;
	position:relative;
	top:1.5em;
}

.login-forum a{
	margin: 0.5em 0 0 10px;
	display: block;
	background: url(../img/person.gif) no-repeat 0 center;
	padding-left: 20px;
}

.subtitle{
}

a.sidebar_link{
	color: #cc2220;
}

a.sidebar_link:hover{
	color: #ff0000;
}

.recent_posts{
	padding:5px 0;
	border-bottom: 1px solid #DDDDDD;
}

ul.talking{
	margin: 0; padding: 0;
}

ul.talking li{
	list-style: none;
	background: url(../img/person.gif) no-repeat 0 center;
	padding-left: 20px;
}

a.button1 {
  border-top: 1px solid #ff2b00;
  background: #80200d;
  background: -webkit-gradient(linear, left top, left bottom, from(#c43113), to(#80200d));
  background: -moz-linear-gradient(top, #c43113, #80200d);
   padding: 5px 10px;
   -webkit-border-radius: 2px;
   -moz-border-radius: 2px;
   border-radius: 2px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #FFFFFF;
   font-size: 11px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
a.button1:hover {
   border-top-color: #cc2200;
   background: #cc2200;
   color: #ffffff;
   }
a.button1:active {
   border-top-color: #ff0000;
   background: #ff0000;
	 color: #FFFFFF;
   }
/* tables */

table.noborder td
{
  border:0;
}

table.nopad td
{
  padding-left:0;
}

table
{
	border-collapse:collapse;
	font-family: 'Lucida Grande', Tahoma, Arial, Helvetica, sans-serif;
}
table.wide {	width:100%; }
table tr th
{
	background:#333;
	color:white;
	font-size:0.8em;
	padding:3px 10px;
	border:1px solid #222;
}
table tr td
{
	padding:7px;
	border:1px solid #ddd;
}

/* topics */

#forum_description,
#topic_body
{
  width:99%;
}

/* specific table styles */

table.forums,
table.topics
 { font-size:0.8em; }
table.forums tr th { font-size:0.8em; }
table.forums tr td .title {
	font-size:1.4em; 
	}

table.forums tr td .desc {
margin:0.5em 0;	
}
table.forums tr td
{
	padding:4px 15px;
}
table.forums a.tiny
{
	font-size:0.8em;
	color:#666;
}

table.forums .posts
{
	font-family: 'Lucida Grande', Tahoma, Arial, Helvetica, sans-serif;
	color:#666;
	font-size:0.8em;
}

table tr th.la { 	text-align:left; }
table tr td.ca { 	text-align:center; }
table tr td.inv { background:#eee; }
table tr td.vat { vertical-align:top; }

table tr td.narrow { padding:2px 5px;}

/* users */

a.admin
{
	color:#c00;
	font-weight:bold;
}

/* last post */
table tr td.lp {
	font-size:0.85em;
	color:#333; }
table tr td.lp span { color:#666; }
table tr td.lp span a { color:#369; }

table.topics tr td.c1
 {	border-right:0; padding-right:2px; }
 table.topics tr td.c2
  {	border-left:0; padding-left:2px; }


table.topics tr td.c3 { border-left:0; }

table.forums tr td.c1 {	border-right:0; padding-right:5px; padding-top:7px; }
table.forums tr td.c2 {	border-width:1px 0; padding-left:5px; }
table.forums tr td.c3 {	border-left:0; padding-left:5px; }


table.topics tr td.c2 small a,
.crumbs small a
{ color:#666; }
table.topics tr td.stat { font-size:0.9em; }

table.topics tr td .flag {
  background:#333;
  color:white;
  padding:1px 5px;
  margin-right:0.5em; }

	/* users */

	a.admin
	{
		color:#c00;
		font-weight:bold;
	}

	/* last post */
	table tr td.lp {
		font-size:0.85em;
		color:#333; }
	table tr td.lp span { color:#666; }
	table tr td.lp span a { color:#369; }

	table.topics tr td.c1
	 {	border-right:0; padding-right:2px; }
	 table.topics tr td.c2
	  {	border-left:0; padding-left:2px; }


	table.topics tr td.c3 { border-left:0; }

	table.forums tr td.c1 {	border-right:0; padding-right:5px; padding-top:7px; }
	table.forums tr td.c2 {	border-width:1px 0; padding-left:5px; }
	table.forums tr td.c3 {	border-left:0; padding-left:5px; }


	table.topics tr td.c2 small a,
	.crumbs small a
	{ color:#666; }
	table.topics tr td.stat { font-size:0.9em; }

	table.topics tr td .flag {
	  background:#333;
	  color:white;
	  padding:1px 5px;
	  margin-right:0.5em; }

	/* misc */

	.button_or
	{
	  color:#666;
	  padding-left:0.5em;
	  font-size:0.75em;
	  font-family: 'Lucida Grande', Tahoma, Arial, Helvetica, sans-serif;
	}
	.button_or a { color:#c00; }

	form.dialog
	{
		margin-top:3em;
		background:#eee;
		width:300px;
		padding:15px;
	}

	form .entryhelp
	{
	  font-size:0.7em;
	}

	form .help
	{
		font-size:0.8em;
	}

	span.arrow
	{
		font-weight:normal;
		font-size:0.9em;
		color:#999;
	}

	div.stats
	{
		margin-top:2em;
		background:#ded;
		font-family: 'Lucida Grande', Tahoma, Arial, Helvetica, sans-serif;
		font-size:0.8em;
		padding:15px 15px;
		border:2px solid #393;
		border-width:1px 0;
	}
	div.stats .posts { float:right; text-align:right; }

	/* breadcrumbs */

	.crumbs
	{
		padding: 5px 0;
		border-bottom:1px dotted #CCCCCC;
	}
	.crumbs a { color:#468; }
	.crumbs a:hover { color:#00c; text-decoration:underline; }

  #monitor_checkbox{top: 0px;}

	.pagination{
		display: block;
		text-align:right;
	}
	
	.pagination .disabled{
		color: #cccccc;
	}
	.pagination .current{
		color: #cc2200;
		font-weight: bold;
	}
	.page-entries{
		display:block;
		text-align:center;
	}
	/* posts */

	table.posts
	{
		border-bottom:2px solid #eee;
	}

	table.posts tr td
	{
		border:0;
	}
	table.posts tr.spacer td
	{
		font-size:1px;
	}
	
	.author-info{
		float: left;
	}
	
	.spacer td{
		padding:2px;
	}

	/* fade edit links */
	.post .author .edit a
	{
	  font-size:0.7em;
	  color:#666;
	}

	.post .author img {
		float:left; 
		margin-right:0.5em;
		}
	.post .author
	{
		border-top:2px solid #DDDDDD;		padding:5px;
		background:#FFFFFF;
		font-weight:bold;
		color:#333;
		font-size:0.9em;
		min-height:32px;
		width:10em;
		min-width:140px;
		vertical-align:top;
	}

	.post .author .posts,
	.post .author .admin
	{
		display:block;
		font-size:0.75em;
		color:black;
		color:#666;
	}
	.post .author a
	{
		color:#333;
		text-decoration:none;
	}
	.post .author a.threadauthor
	{
		color:#080;
	}
	.post .author a:hover
	{
		color:#369;
		text-decoration:underline;
	}

	.post .date
	{
		font-size:0.75em;
		color:#666;
		font-weight:normal;
		margin-bottom:0.5em;
	}

	.posts .post .body
	{
		background:none repeat scroll 0 0 #F6F6F6;
		border-top:2px solid #AAAAAA;
		font-size:0.9em;
		padding:10px 20px;
	}

	.posts .post .body blockquote
	{
		border:1px solid #cda;
		border-left:3px solid #9a7;
		border-right:0;
		background:#efc;
		padding:1px 10px;
		margin-left:0;
	}

	.posts .post .body pre
	{
		font-size:0.8em;
		background:#eee;
		padding:5px 10px;
		border:1px solid #ccc;
		border-left:3px solid #ddd;
		border-right:0;
		overflow:auto;
		font-family: "Monaco", "Bitstream Vera Sans Mono", "Courier New", serif;
	}

	.posts .post .body a:hover { color:brown; }

	.posts .post .body blockquote p
	{
		margin:0.5em 0;	
	}

	.post .body p.topic
	{
	  font-size:0.8em;
	  font-weight:bold;
	  background:#eee;
	  padding:2px 10px;
	}

	/* editing posts */

	/*
	table.posts .editing td {
	}
	table.posts .editing td.author { 
	  background:#030; 
	  }

	table.posts .editing td.author * { color:#ccc; }
	table.posts .editing td.body { }
	*/

	/* other stuff */

	p.online {margin-bottom:0;}

	img.icon
	{
		background:#696;
		background-image: url(../img/savage_beast/clearbits/bg_rounded.gif);
		background-repeat: no-repeat;
		vertical-align: bottom;
	}
	img.reply { float:right; }
	img.orange { background-color:darkorange; }
	img.grey { background-color:#ccc; }
	img.darkgrey { background-color:#999; }
	img.green { background-color:#0c0;}

	.post .author .icon
	{
		float:right;
	}

	/* reply */

	div.editbox
	{
		background:url(../img/savage_beast/reply_background.png);
		border:2px solid #333;
		border-width:2px 0;
		position:fixed;
		bottom:0;
		left:0;
		width:100%;
		padding:6px 0 7px;
		z-index:50;
	}

	div.editbox .container
	{
		width:92%;
		margin:0 auto;
		min-width:760px;
	}

	div.editbox p { margin:0.5em 0;}
	div.editbox textarea
	{
	  width:100%;
		background:white;
		opacity:1;
		font-size:0.8em;
		font-family: 'Lucida Grande', Tahoma, Arial, Helvetica, sans-serif;
	}
	div.editbox .button_or a
	{
	  color:#ccc;
	}
	div.editbox table td { border:0; }
	div.editbox a.utility
	{
	  color: #f99;
	  font-size: 0.65em;
	  padding: 2px 5px 4px;
	  display: block;
	  font-family: 'Lucida Grande', Tahoma, Arial, Helvetica, sans-serif;
	  float: right;
	  text-align: right;
	  margin-top: 0.2em;
	}

	div.editbox h5
	{
	  background:#222;
	  color:white;
	  padding:2px 10px 3px;
	  font-size:0.7em;
	  margin:0.2em 0 0.5em;
	}

	div.editbox p.help span,
	div.editbox ul.help span { color:#666; }
	div.editbox p.help,
	div.editbox ul.help
	{
	  padding:3px 10px;
	  font-size:0.75em;
	  color:#ccc;
	  font-family: 'Lucida Grande', Tahoma, Arial, Helvetica, sans-serif;
	}
	div.editbox ul.help { margin:0; }

	div.editbox ul.help {
	  list-style-type:none; }

	#monitor_topic a
	{
	  color: #666;
	}
